body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav {
  margin: 10px 0;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  margin: 15px;
}

#resume, #projects {
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  margin-left: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: #000;
}

.timeline-block {
  width: 90%;
  position: relative;
  margin-bottom: 20px;
}

.timeline-date {
  position: absolute;
  left: -30px;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}

.timeline-content {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.timeline-block.army .timeline-content {
  background-color: #7CFC00; /* Light green */
}

.timeline-block.civ .timeline-content {
  background-color: #1E90FF; /* Dodger blue */
}

.timeline-block.life .timeline-content {
  background-color: #800080; /* Purple */
}

.timeline-block.education .timeline-content {
  background-color: #FFFF00; /* Yellow */
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.project {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
